.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  float: left;
}

.body-logo {
  height: 350px;
  padding-top: 50px;
}

.App-header {
  background-color: black;
  padding: 20px;
  color: #9ED5C9;
}

.App-left-body {
  width: 62%;
  position: absolute;
  padding: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rsc {
  float: right;
  padding: 50px;
  background-image: url('./aruba-banner-web.jpg');
}

.rsc-ts-bubble {
  background: #9ED5C9 !important;
}

.rsc-header  {
  background: #ff8300 !important;
}

.rsc-os-option-element {
  background: #9ED5C9 !important;
}
